.tile {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  padding: 2px;
  display: inline-block;
}

.flagged {
  background-color: #bdc3c7;
}

.filled {
  background-color: #8e44ad;
}

.left-hint-row {
  height: 30px;
}

.left-hint-number {
  width: 30px;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}

.top-hint-row {
  width: 30px;
  display: inline-block;
}

.top-hint-number {
  height: 30px;
  text-align: center;
}

.fifth-row {
  border-top: 2px solid red;
}

.fifth-column {
  border-left: 2px solid red;
}

.controls button {
  margin: 5px;
}

.board-size-config {
  margin: 5px;
}
